<%-include("partials/header")%>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" ;>
            <!--Content for left column, the profile details-->
            <%-include("profile")%>
        </div>
        <div class="col-md-8">
            <!-- Content for the right column -->
            <%-include("chatUI")%>
        </div>
    </div>
</div>
<%-include("partials/footer")%>