<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl"> <!-- Use modal-xl for extra-large modal -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">SYMPTOMS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/" method="post">
                <!-- Accordion 1 -->
                <div class="accordion" id="accordion1">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        Head & Face
                      </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordion1">
                      <div class="accordion-body">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
                          <label class="form-check-label" for="checkbox1">
                            Yellowing of eyes
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="option2" id="checkbox2">
                          <label class="form-check-label" for="checkbox2">
                            Red Sore around nose
                          </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option3" id="checkbox3">
                            <label class="form-check-label" for="checkbox3">
                              Pain behind the eyes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option4" id="checkbox4">
                            <label class="form-check-label" for="checkbox4">
                              Sunken Eyes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option5" id="checkbox5">
                            <label class="form-check-label" for="checkbox5">
                              Loss of Smell
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option6" id="checkbox6">
                            <label class="form-check-label" for="checkbox6">
                              Headache
                            </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="option7" id="checkbox7">
                              <label class="form-check-label" for="checkbox7">
                                Blurred and Distorted Vision
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="option8" id="checkbox8">
                              <label class="form-check-label" for="checkbox8">
                                Visual Disturbances
                              </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option9" id="checkbox9">
                                <label class="form-check-label" for="checkbox9">
                                  Redness of Eyes
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option10" id="checkbox10">
                                <label class="form-check-label" for="checkbox10">
                                  Watering from Eyes
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option11" id="checkbox11">
                                  <label class="form-check-label" for="checkbox11">
                                    Drying and Tingling lips
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option12" id="checkbox12">
                                  <label class="form-check-label" for="checkbox12">
                                    Throat Irritation
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option13" id="checkbox13">
                                  <label class="form-check-label" for="checkbox13">
                                    Dizziness
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option14" id="checkbox14">
                                  <label class="form-check-label" for="checkbox14">
                                    Breathlessness
                                  </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="option15" id="checkbox15">
                                    <label class="form-check-label" for="checkbox15">
                                      Yellow Crust ooze
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="option16" id="checkbox16">
                                    <label class="form-check-label" for="checkbox16">
                                      Chills
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="option17" id="checkbox17">
                                    <label class="form-check-label" for="checkbox17">
                                      Pain in Anal Region
                                    </label>
                                  </div>
                        <!-- Add more options as needed -->
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Accordion 2 -->
                <div class="accordion" id="accordion2">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                        Neck & Throat
                      </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#accordion2">
                      <div class="accordion-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option18" id="checkbox18">
                            <label class="form-check-label" for="checkbox18">
                              Ulcers on tongue
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option19" id="checkbox19">
                            <label class="form-check-label" for="checkbox19">
                              Patches in Throat
                            </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="option20" id="checkbox20">
                              <label class="form-check-label" for="checkbox20">
                                Swelling Joints
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="option21" id="checkbox21">
                              <label class="form-check-label" for="checkbox21">
                                Neck Pain
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="option22" id="checkbox22">
                              <label class="form-check-label" for="checkbox22">
                                Stiff Neck
                              </label>
                            </div>
                        <!-- Add more options as needed -->
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Accordion 3 -->
                <div class="accordion" id="accordion3">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading3">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                          Chest & Heart
                        </button>
                      </h2>
                      <div id="collapse3" class="accordion-collapse collapse show" aria-labelledby="heading3" data-bs-parent="#accordion3">
                        <div class="accordion-body">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="option23" id="checkbox23">
                              <label class="form-check-label" for="checkbox23">
                                Chest Pain
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="option24" id="checkbox24">
                              <label class="form-check-label" for="checkbox24">
                                Fast Heart Rate
                              </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option25" id="checkbox25">
                                <label class="form-check-label" for="checkbox25">
                                  Palpitations
                                </label>
                            </div>
                            
                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- Accordion 4 -->
                <div class="accordion" id="accordion4">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading4">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                          Respiratory and Lungs
                        </button>
                      </h2>
                      <div id="collapse4" class="accordion-collapse collapse show" aria-labelledby="heading4" data-bs-parent="#accordion4">
                        <div class="accordion-body">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="option26" id="checkbox26">
                              <label class="form-check-label" for="checkbox26">
                                Blood in Sputum
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="option27" id="checkbox27">
                              <label class="form-check-label" for="checkbox27">
                                Rusty Sputum
                              </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option28" id="checkbox28">
                                <label class="form-check-label" for="checkbox28">
                                  Phlegm
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option29" id="checkbox29">
                                <label class="form-check-label" for="checkbox29">
                                  Cough
                                </label>
                            </div>
                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Accordion 5 -->
                  <div class="accordion" id="accordion5">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading5">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                          Gastro-Intestinal
                        </button>
                      </h2>
                      <div id="collapse5" class="accordion-collapse collapse show" aria-labelledby="heading5" data-bs-parent="#accordion5">
                        <div class="accordion-body">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="option30" id="checkbox30">
                              <label class="form-check-label" for="checkbox30">
                                Diarrhoea
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="option31" id="checkbox31">
                              <label class="form-check-label" for="checkbox31">
                                Stomach Bleeding
                              </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option32" id="checkbox32">
                                <label class="form-check-label" for="checkbox32">
                                  Pain During Bowel Movements
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option33" id="checkbox33">
                                <label class="form-check-label" for="checkbox33">
                                  Painful Walking
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option34" id="checkbox34">
                                <label class="form-check-label" for="checkbox34">
                                  Indigestion
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option35" id="checkbox35">
                                <label class="form-check-label" for="checkbox35">
                                  Belly Pain
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option36" id="checkbox36">
                                  <label class="form-check-label" for="checkbox36">
                                    Distention of Abdomen
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option37" id="checkbox37">
                                  <label class="form-check-label" for="checkbox37">
                                    Bloody Stool
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option38" id="checkbox38">
                                <label class="form-check-label" for="checkbox38">
                                  Burning Micturition
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option39" id="checkbox39">
                                <label class="form-check-label" for="checkbox39">
                                  Acidity
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option40" id="checkbox40">
                                  <label class="form-check-label" for="checkbox40">
                                    Abdominal Pain
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option41" id="checkbox41">
                                  <label class="form-check-label" for="checkbox41">
                                    Constipation
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option42" id="checkbox42">
                                <label class="form-check-label" for="checkbox42">
                                  Stomach Pain
                                </label>
                            </div>
                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Accordion 6 -->
                  <div class="accordion" id="accordion6">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading6">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                          Urinary and Kidney
                        </button>
                      </h2>
                      <div id="collapse6" class="accordion-collapse collapse show" aria-labelledby="heading6" data-bs-parent="#accordion6">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option43" id="checkbox43">
                                <label class="form-check-label" for="checkbox43">
                                  Foul Smell of urine
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option44" id="checkbox44">
                                  <label class="form-check-label" for="checkbox44">
                                    Dark urine
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option45" id="checkbox45">
                                  <label class="form-check-label" for="checkbox45">
                                    Yellow urine
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option46" id="checkbox46">
                                <label class="form-check-label" for="checkbox46">
                                  Yellowish Skin
                                </label>
                            </div>
                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Accordion 7 -->
                  <div class="accordion" id="accordion7">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading7">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                          Musculoskeletal
                        </button>
                      </h2>
                      <div id="collapse7" class="accordion-collapse collapse show" aria-labelledby="heading7" data-bs-parent="#accordion7">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option47" id="checkbox47">
                                <label class="form-check-label" for="checkbox47">
                                  Knee pain
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option48" id="checkbox48">
                                  <label class="form-check-label" for="checkbox48">
                                    Hip Joint Pain
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option49" id="checkbox49">
                                  <label class="form-check-label" for="checkbox49">
                                    Muscle Pain
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option50" id="checkbox50">
                                <label class="form-check-label" for="checkbox50">
                                  Swelling Joints
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option51" id="checkbox51">
                                <label class="form-check-label" for="checkbox51">
                                  Muscle Weakness
                                </label>
                            </div>
                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Accordion 8 -->
                  <div class="accordion" id="accordion8">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading8">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                          Skin and Dermatological
                        </button>
                      </h2>
                      <div id="collapse8" class="accordion-collapse collapse show" aria-labelledby="heading8" data-bs-parent="#accordion8">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option52" id="checkbox52">
                                <label class="form-check-label" for="checkbox52">
                                  Prominent Veins on Calves
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option53" id="checkbox53">
                                  <label class="form-check-label" for="checkbox53">
                                    Itching
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option54" id="checkbox54">
                                  <label class="form-check-label" for="checkbox54">
                                    Skin Rash
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option55" id="checkbox55">
                                <label class="form-check-label" for="checkbox55">
                                  Pus filled Pimples
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option56" id="checkbox56">
                                <label class="form-check-label" for="checkbox56">
                                  Skin Peeling
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option57" id="checkbox57">
                                <label class="form-check-label" for="checkbox57">
                                  Silver Like Dusting
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option58" id="checkbox58">
                                  <label class="form-check-label" for="checkbox58">
                                    Inflammatory Nails
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option59" id="checkbox59">
                                  <label class="form-check-label" for="checkbox59">
                                    Blackheads
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option60" id="checkbox60">
                                <label class="form-check-label" for="checkbox60">
                                  Brittle Nails
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option61" id="checkbox61">
                                <label class="form-check-label" for="checkbox61">
                                  Blister
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option62" id="checkbox62">
                                <label class="form-check-label" for="checkbox62">
                                  Swollen Blood Vessels
                                </label>
                            </div>

                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Accordion 9 -->
                  <div class="accordion" id="accordion9">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading9">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                          Extremities Related
                        </button>
                      </h2>
                      <div id="collapse9" class="accordion-collapse collapse show" aria-labelledby="heading9" data-bs-parent="#accordion9">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option63" id="checkbox63">
                                <label class="form-check-label" for="checkbox63">
                                  Swollen Extremeties
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option64" id="checkbox64">
                                  <label class="form-check-label" for="checkbox64">
                                    Swollen Legs
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option65" id="checkbox65">
                                  <label class="form-check-label" for="checkbox65">
                                    Painful Walking
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option66" id="checkbox66">
                                <label class="form-check-label" for="checkbox66">
                                  Swelling of Stomach
                                </label>
                            </div>

                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Accordion 10 -->
                  <div class="accordion" id="accordion10">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading10">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                          Mental and Neurological
                        </button>
                      </h2>
                      <div id="collapse10" class="accordion-collapse collapse show" aria-labelledby="heading10" data-bs-parent="#accordion10">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option67" id="checkbox67">
                                <label class="form-check-label" for="checkbox67">
                                  Unsteadiness
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option68" id="checkbox68">
                                  <label class="form-check-label" for="checkbox68">
                                    Irritability
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option69" id="checkbox69">
                                  <label class="form-check-label" for="checkbox69">
                                    Lethargy
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option70" id="checkbox70">
                                <label class="form-check-label" for="checkbox70">
                                  Weakness in limbs
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option71" id="checkbox71">
                                <label class="form-check-label" for="checkbox71">
                                  Movement Stiffness
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option72" id="checkbox72">
                                  <label class="form-check-label" for="checkbox72">
                                    Coma
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option73" id="checkbox73">
                                  <label class="form-check-label" for="checkbox73">
                                    Mood Swings
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option74" id="checkbox74">
                                <label class="form-check-label" for="checkbox74">
                                  Loss of Concentration
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option75" id="checkbox75">
                                <label class="form-check-label" for="checkbox75">
                                  Anxiety
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option76" id="checkbox76">
                                  <label class="form-check-label" for="checkbox76">
                                    Loss of balance
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option77" id="checkbox77">
                                  <label class="form-check-label" for="checkbox78">
                                    Altered Sensorium
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option78" id="checkbox78">
                                <label class="form-check-label" for="checkbox78">
                                  Dizziness
                                </label>
                            </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option79" id="checkbox79">
                                <label class="form-check-label" for="checkbox79">
                                  Depression
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option80" id="checkbox80">
                                <label class="form-check-label" for="checkbox80">
                                  Slurred Speech
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option81" id="checkbox81">
                                  <label class="form-check-label" for="checkbox81">
                                    Fatigue
                                  </label>
                              </div>
                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Accordion 11 -->
                  <div class="accordion" id="accordion11">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading11">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
                          Endocrine and Metabolic Related
                        </button>
                      </h2>
                      <div id="collapse11" class="accordion-collapse collapse show" aria-labelledby="heading11" data-bs-parent="#accordion11">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option82" id="checkbox82">
                                <label class="form-check-label" for="checkbox82">
                                  Enlarged Thyroid
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option83" id="checkbox83">
                                  <label class="form-check-label" for="checkbox83">
                                    Obesity
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option84" id="checkbox84">
                                  <label class="form-check-label" for="checkbox84">
                                    Weight Gain
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option85" id="checkbox85">
                                <label class="form-check-label" for="checkbox85">
                                  Weight loss
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option86" id="checkbox86">
                                <label class="form-check-label" for="checkbox86">
                                  Excessive Hunger
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option87" id="checkbox87">
                                  <label class="form-check-label" for="checkbox87">
                                    Irregular Sugar Level
                                  </label>
                              </div>
                              
                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Accordion 12 -->
                  <div class="accordion" id="accordion12">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading12">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="true" aria-controls="collapse12">
                          Blood and Circulatory Related
                        </button>
                      </h2>
                      <div id="collapse12" class="accordion-collapse collapse show" aria-labelledby="heading12" data-bs-parent="#accordion12">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option88" id="checkbox88">
                                <label class="form-check-label" for="checkbox88">
                                  Toxic look (typhos)
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option89" id="checkbox89">
                                  <label class="form-check-label" for="checkbox89">
                                    Nodal skin eruptions
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option90" id="checkbox90">
                                  <label class="form-check-label" for="checkbox90">
                                    Cramps
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option91" id="checkbox91">
                                <label class="form-check-label" for="checkbox91">
                                  Weight lgain
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option92" id="checkbox92">
                                <label class="form-check-label" for="checkbox92">
                                  Blackheads
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option93" id="checkbox93">
                                  <label class="form-check-label" for="checkbox93">
                                    Bruising
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option94" id="checkbox94">
                                <label class="form-check-label" for="checkbox94">
                                  Malaise
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option95" id="checkbox95">
                                  <label class="form-check-label" for="checkbox95">
                                    Swelled lymph nodes
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option96" id="checkbox96">
                                  <label class="form-check-label" for="checkbox96">
                                    Abnormal menstruation
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option97" id="checkbox97">
                                <label class="form-check-label" for="checkbox97">
                                  Fatigue
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option98" id="checkbox98">
                                <label class="form-check-label" for="checkbox98">
                                  Irregular sugar level
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option99" id="checkbox99">
                                  <label class="form-check-label" for="checkbox99">
                                    Palpitations
                                  </label>
                              </div>
                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Accordion 13 -->
                  <div class="accordion" id="accordion13">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading13">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="true" aria-controls="collapse13">
                          Gastro and Liver
                        </button>
                      </h2>
                      <div id="collapse13" class="accordion-collapse collapse show" aria-labelledby="heading13" data-bs-parent="#accordion13">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option100" id="checkbox100">
                                <label class="form-check-label" for="checkbox100">
                                  Vomiting
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option101" id="checkbox101">
                                  <label class="form-check-label" for="checkbox101">
                                    Sweating
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option102" id="checkbox102">
                                  <label class="form-check-label" for="checkbox102">
                                    Restlessness
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option103" id="checkbox103">
                                <label class="form-check-label" for="checkbox103">
                                  Depression
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option104" id="checkbox104">
                                <label class="form-check-label" for="checkbox104">
                                  Receiving Unsterile Injections
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option105" id="checkbox105">
                                <label class="form-check-label" for="checkbox105">
                                  Anxiety
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option106" id="checkbox106">
                                  <label class="form-check-label" for="checkbox106">
                                    Loss of Appetite
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option107" id="checkbox107">
                                <label class="form-check-label" for="checkbox107">
                                  Slurred Speech
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option108" id="checkbox108">
                                  <label class="form-check-label" for="checkbox108">
                                    Acute Liver failure
                                  </label>
                              </div>
                              
                            
                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                <!--Accordion 14 -->
                <div class="accordion" id="accordion14">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading14">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="true" aria-controls="collapse14">
                          Immune System Related
                        </button>
                      </h2>
                      <div id="collapse14" class="accordion-collapse collapse show" aria-labelledby="heading14" data-bs-parent="#accordion14">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option109" id="checkbox109">
                                <label class="form-check-label" for="checkbox109">
                                  Continuous Sneezing
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option110" id="checkbox110">
                                  <label class="form-check-label" for="checkbox110">
                                    Runny Nose
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option111" id="checkbox111">
                                  <label class="form-check-label" for="checkbox111">
                                    Mucoid Sputum
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option112" id="checkbox112">
                                <label class="form-check-label" for="checkbox112">
                                  Cough
                                </label>
                            </div>
                            
                              
                            
                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Accordion 15 -->
                <div class="accordion" id="accordion15">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading15">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="true" aria-controls="collapse15">
                          General and Systemic
                        </button>
                      </h2>
                      <div id="collapse15" class="accordion-collapse collapse show" aria-labelledby="heading15" data-bs-parent="#accordion15">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option113" id="checkbox113">
                                <label class="form-check-label" for="checkbox113">
                                  Family history
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option114" id="checkbox114">
                                  <label class="form-check-label" for="checkbox114">
                                    Nausea
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option115" id="checkbox115">
                                  <label class="form-check-label" for="checkbox115">
                                    Continuous feel of urine
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option116" id="checkbox116">
                                <label class="form-check-label" for="checkbox116">
                                  Irritation in anus
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option117" id="checkbox117">
                                <label class="form-check-label" for="checkbox117">
                                  Passage of gases
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option118" id="checkbox118">
                                  <label class="form-check-label" for="checkbox118">
                                    Loss of appetite
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option119" id="checkbox119">
                                  <label class="form-check-label" for="checkbox119">
                                    Restlessness
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option120" id="checkbox120">
                                <label class="form-check-label" for="checkbox120">
                                  Depression
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option121" id="checkbox121">
                                <label class="form-check-label" for="checkbox121">
                                  Receiving unsterile injection
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option122" id="checkbox122">
                                  <label class="form-check-label" for="checkbox122">
                                    Loss of balance
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option123" id="checkbox123">
                                  <label class="form-check-label" for="checkbox123">
                                    Altered sensorium
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option124" id="checkbox124">
                                <label class="form-check-label" for="checkbox124">
                                  Breathlessness
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option125" id="checkbox125">
                                <label class="form-check-label" for="checkbox125">
                                  Excessive hunger
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option126" id="checkbox126">
                                  <label class="form-check-label" for="checkbox126">
                                   Chills
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option127" id="checkbox127">
                                  <label class="form-check-label" for="checkbox127">
                                    Fatigue
                                  </label>
                              </div>
                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- Add more accordions with checkboxes as needed -->
                
                <div class="form-group">
                  <!-- Other form fields can go here -->
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
  