<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl"> <!-- Use modal-xl for extra-large modal -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">SYMPTOMS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/" method="post">
                <!-- Accordion 1 -->
                <div class="accordion" id="accordion1">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        Head & Face
                      </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordion1">
                      <div class="accordion-body">
                        <div class="form-check">
                          <input class="form-check-input" name="option1" type="checkbox" value="yellowing_of_eyes" id="checkbox1">
                          <label class="form-check-label" for="checkbox1">
                            Yellowing of eyes
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" name="option2" type="checkbox" value="red_sore_around_nose" id="checkbox2">
                          <label class="form-check-label" for="checkbox2">
                            Red Sore around nose
                          </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="option3" type="checkbox" value="pain_behind_the_eyes" id="checkbox3">
                            <label class="form-check-label" for="checkbox3">
                              Pain behind the eyes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" name="option4" type="checkbox" value="sunken_eyes" id="checkbox4">
                            <label class="form-check-label" for="checkbox4">
                              Sunken Eyes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" name="option5" type="checkbox" value="loss_of_smell" id="checkbox5">
                            <label class="form-check-label" for="checkbox5">
                              Loss of Smell
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" name="option6" type="checkbox" value="headache" id="checkbox6">
                            <label class="form-check-label" for="checkbox6">
                              Headache
                            </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="option7" type="checkbox" value="blurred_and_distorted_vision" id="checkbox7">
                              <label class="form-check-label" for="checkbox7">
                                Blurred and Distorted Vision
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" name="option8" type="checkbox" value="visual_disturbances" id="checkbox8">
                              <label class="form-check-label" for="checkbox8">
                                Visual Disturbances
                              </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option9" type="checkbox" value="redness_of_eyes" id="checkbox9">
                                <label class="form-check-label" for="checkbox9">
                                  Redness of Eyes
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" name="option10" type="checkbox" value="watering_from_eyes" id="checkbox10">
                                <label class="form-check-label" for="checkbox10">
                                  Watering from Eyes
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" name="option11" type="checkbox" value="drying_and_tingling_lips" id="checkbox11">
                                  <label class="form-check-label" for="checkbox11">
                                    Drying and Tingling lips
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" name="option12" type="checkbox" value="throat_irritation" id="checkbox12">
                                  <label class="form-check-label" for="checkbox12">
                                    Throat Irritation
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" name="option13" type="checkbox" value="dizziness" id="checkbox13">
                                  <label class="form-check-label" for="checkbox13">
                                    Dizziness
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" name="option14" type="checkbox" value="breathlessness" id="checkbox14">
                                  <label class="form-check-label" for="checkbox14">
                                    Breathlessness
                                  </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="option15" type="checkbox" value="yellow_crust_ooze" id="checkbox15">
                                    <label class="form-check-label" for="checkbox15">
                                      Yellow Crust ooze
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" name="option16" type="checkbox" value="chills" id="checkbox16">
                                    <label class="form-check-label" for="checkbox16">
                                      Chills
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" name="option17" type="checkbox" value="pain_in_anal_region" id="checkbox17">
                                    <label class="form-check-label" for="checkbox17">
                                      Pain in Anal Region
                                    </label>
                                  </div>
                        <!-- Add more options as needed -->
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Accordion 2 -->
                <div class="accordion" id="accordion2">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                        Neck & Throat
                      </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#accordion2">
                      <div class="accordion-body">
                        <div class="form-check">
                            <input class="form-check-input" name="option18" type="checkbox" value="ulcers_on_tongue" id="checkbox18">
                            <label class="form-check-label" for="checkbox18">
                              Ulcers on tongue
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" name="option19" type="checkbox" value="patches_in_throat" id="checkbox19">
                            <label class="form-check-label" for="checkbox19">
                              Patches in Throat
                            </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="option20" type="checkbox" value="swelling_joints" id="checkbox20">
                              <label class="form-check-label" for="checkbox20">
                                Swelling Joints
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" name="option21" type="checkbox" value="neck_pain" id="checkbox21">
                              <label class="form-check-label" for="checkbox21">
                                Neck Pain
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" name="option22" type="checkbox" value="stiff_neck" id="checkbox22">
                              <label class="form-check-label" for="checkbox22">
                                Stiff Neck
                              </label>
                            </div>
                        <!-- Add more options as needed -->
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Accordion 3 -->
                <div class="accordion" id="accordion3">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading3">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                          Chest & Heart
                        </button>
                      </h2>
                      <div id="collapse3" class="accordion-collapse collapse show" aria-labelledby="heading3" data-bs-parent="#accordion3">
                        <div class="accordion-body">
                          <div class="form-check">
                              <input class="form-check-input" name="option23" type="checkbox" value="chest_pain" id="checkbox23">
                              <label class="form-check-label" for="checkbox23">
                                Chest Pain
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" name="option24" type="checkbox" value="fast_heart_rate" id="checkbox24">
                              <label class="form-check-label" for="checkbox24">
                                Fast Heart Rate
                              </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option25" type="checkbox" value="palpitations" id="checkbox25">
                                <label class="form-check-label" for="checkbox25">
                                  Palpitations
                                </label>
                            </div>
                            
                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- Accordion 4 -->
                <div class="accordion" id="accordion4">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading4">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                          Respiratory and Lungs
                        </button>
                      </h2>
                      <div id="collapse4" class="accordion-collapse collapse show" aria-labelledby="heading4" data-bs-parent="#accordion4">
                        <div class="accordion-body">
                          <div class="form-check">
                              <input class="form-check-input" name="option26" type="checkbox" value="blood_in_sputum" id="checkbox26">
                              <label class="form-check-label" for="checkbox26">
                                Blood in Sputum
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" name="option27" type="checkbox" value="rusty_sputum" id="checkbox27">
                              <label class="form-check-label" for="checkbox27">
                                Rusty Sputum
                              </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option28" type="checkbox" value="phlegm" id="checkbox28">
                                <label class="form-check-label" for="checkbox28">
                                  Phlegm
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option29" type="checkbox" value="cough" id="checkbox29">
                                <label class="form-check-label" for="checkbox29">
                                  Cough
                                </label>
                            </div>
                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Accordion 5 -->
                  <div class="accordion" id="accordion5">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading5">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                          Gastro-Intestinal
                        </button>
                      </h2>
                      <div id="collapse5" class="accordion-collapse collapse show" aria-labelledby="heading5" data-bs-parent="#accordion5">
                        <div class="accordion-body">
                          <div class="form-check">
                              <input class="form-check-input" name="option30" type="checkbox" value="diarrhoea" id="checkbox30">
                              <label class="form-check-label" for="checkbox30">
                                Diarrhoea
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" name="option31" type="checkbox" value="stomach_bleeding" id="checkbox31">
                              <label class="form-check-label" for="checkbox31">
                                Stomach Bleeding
                              </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option32" type="checkbox" value="pain_during_bowel_movements" id="checkbox32">
                                <label class="form-check-label" for="checkbox32">
                                  Pain During Bowel Movements
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option33" type="checkbox" value="painful_walking" id="checkbox33">
                                <label class="form-check-label" for="checkbox33">
                                  Painful Walking
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option34" type="checkbox" value="indigestion" id="checkbox34">
                                <label class="form-check-label" for="checkbox34">
                                  Indigestion
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" name="option35" type="checkbox" value="belly_pain" id="checkbox35">
                                <label class="form-check-label" for="checkbox35">
                                  Belly Pain
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" name="option36" type="checkbox" value="distention_of_abdomen" id="checkbox36">
                                  <label class="form-check-label" for="checkbox36">
                                    Distention of Abdomen
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option37" id="checkbox37">
                                  <label class="form-check-label" for="checkbox37">
                                    Bloody Stool
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option38" id="checkbox38">
                                <label class="form-check-label" for="checkbox38">
                                  Burning Micturition
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option39" id="checkbox39">
                                <label class="form-check-label" for="checkbox39">
                                  Acidity
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option40" id="checkbox40">
                                  <label class="form-check-label" for="checkbox40">
                                    Abdominal Pain
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="option41" id="checkbox41">
                                  <label class="form-check-label" for="checkbox41">
                                    Constipation
                                  </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" name="option42" type="checkbox" value="stomach_pain" id="checkbox42">
                                <label class="form-check-label" for="checkbox42">
                                  Stomach Pain
                                </label>
                            </div>
                          <!-- Add more options as needed -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Accordion 6 -->
                <div class="accordion" id="accordion6">
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading6">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                        Urinary and Kidney
                        </button>
                    </h2>
                    <div id="collapse6" class="accordion-collapse collapse show" aria-labelledby="heading6" data-bs-parent="#accordion6">
                        <div class="accordion-body">
                            <div class="form-check">
                            <input class="form-check-input" name="option43" type="checkbox" value="foul_smell_of_urine" id="checkbox43">
                            <label class="form-check-label" for="checkbox43">
                                Foul Smell of urine
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="option44" type="checkbox" value="dark_urine" id="checkbox44">
                            <label class="form-check-label" for="checkbox44">
                                Dark urine
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="option45" type="checkbox" value="yellow_urine" id="checkbox45">
                            <label class="form-check-label" for="checkbox45">
                                Yellow urine
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="option46" type="checkbox" value="yellowish_skin" id="checkbox46">
                            <label class="form-check-label" for="checkbox46">
                                Yellowish Skin
                            </label>
                            </div>
                        <!-- Add more options as needed -->
                        </div>
                    </div>
                    </div>
                </div>
                <!--Accordion 7 -->
                <div class="accordion" id="accordion7">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading7">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                            Musculoskeletal
                        </button>
                    </h2>
                    <div id="collapse7" class="accordion-collapse collapse show" aria-labelledby="heading7" data-bs-parent="#accordion7">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" name="option47" type="checkbox" value="knee_pain" id="checkbox47">
                                <label class="form-check-label" for="checkbox47">
                                    Knee pain
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option48" type="checkbox" value="hip_joint_pain" id="checkbox48">
                                <label class="form-check-label" for="checkbox48">
                                    Hip Joint Pain
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option49" type="checkbox" value="muscle_pain" id="checkbox49">
                                <label class="form-check-label" for="checkbox49">
                                    Muscle Pain
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option50" type="checkbox" value="swelling_joints" id="checkbox50">
                                <label class="form-check-label" for="checkbox50">
                                    Swelling Joints
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option51" type="checkbox" value="muscle_weakness" id="checkbox51">
                                <label class="form-check-label" for="checkbox51">
                                    Muscle Weakness
                                </label>
                            </div>
                            <!-- Add more checkboxes as needed -->
                        </div>
                    </div>
                </div>
                </div>
                
                <!--Accordion 8 -->
                <div class="accordion" id="accordion8">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading8">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                            Skin and Dermatological
                        </button>
                    </h2>
                    <div id="collapse8" class="accordion-collapse collapse show" aria-labelledby="heading8" data-bs-parent="#accordion8">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" name="option52" type="checkbox" value="prominent_veins_on_calves" id="checkbox52">
                                <label class="form-check-label" for="checkbox52">
                                    Prominent Veins on Calves
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option53" type="checkbox" value="itching" id="checkbox53">
                                <label class="form-check-label" for="checkbox53">
                                    Itching
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option54" type="checkbox" value="skin_rash" id="checkbox54">
                                <label class="form-check-label" for="checkbox54">
                                    Skin Rash
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option55" type="checkbox" value="pus_filled_pimples" id="checkbox55">
                                <label class="form-check-label" for="checkbox55">
                                    Pus filled Pimples
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option56" type="checkbox" value="skin_peeling" id="checkbox56">
                                <label class="form-check-label" for="checkbox56">
                                    Skin Peeling
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option57" type="checkbox" value="silver_like_dusting" id="checkbox57">
                                <label class="form-check-label" for="checkbox57">
                                    Silver Like Dusting
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option58" type="checkbox" value="inflammatory_nails" id="checkbox58">
                                <label class="form-check-label" for="checkbox58">
                                    Inflammatory Nails
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option59" type="checkbox" value="blackheads" id="checkbox59">
                                <label class="form-check-label" for="checkbox59">
                                    Blackheads
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option60" type="checkbox" value="brittle_nails" id="checkbox60">
                                <label class="form-check-label" for="checkbox60">
                                    Brittle Nails
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option61" type="checkbox" value="blister" id="checkbox61">
                                <label class="form-check-label" for="checkbox61">
                                    Blister
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option62" type="checkbox" value="swollen_blood_vessels" id="checkbox62">
                                <label class="form-check-label" for="checkbox62">
                                    Swollen Blood Vessels
                                </label>
                            </div>
                            <!-- Add more checkboxes as needed -->
                        </div>
                    </div>
                </div>
                </div>
                
                <!--Accordion 9 -->
                <div class="accordion" id="accordion9">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading9">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                                Extremities Related
                            </button>
                        </h2>
                        <div id="collapse9" class="accordion-collapse collapse show" aria-labelledby="heading9" data-bs-parent="#accordion9">
                            <div class="accordion-body">
                                <div class="form-check">
                                    <input class="form-check-input" name="option63" type="checkbox" value="swollen_extremities" id="checkbox63">
                                    <label class="form-check-label" for="checkbox63">
                                        Swollen Extremities
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="option64" type="checkbox" value="swollen_legs" id="checkbox64">
                                    <label class="form-check-label" for="checkbox64">
                                        Swollen Legs
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="option65" type="checkbox" value="painful_walking" id="checkbox65">
                                    <label class="form-check-label" for="checkbox65">
                                        Painful Walking
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="option66" type="checkbox" value="swelling_of_stomach" id="checkbox66">
                                    <label class="form-check-label" for="checkbox66">
                                        Swelling of Stomach
                                    </label>
                                </div>
                                <!-- Add more checkboxes as needed -->
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Accordion 10 -->
                <div class="accordion" id="accordion10">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading10">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                            Mental and Neurological
                        </button>
                    </h2>
                    <div id="collapse10" class="accordion-collapse collapse show" aria-labelledby="heading10" data-bs-parent="#accordion10">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" name="option67" type="checkbox" value="unsteadiness" id="checkbox67">
                                <label class="form-check-label" for="checkbox67">
                                    Unsteadiness
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option68" type="checkbox" value="irritability" id="checkbox68">
                                <label class="form-check-label" for="checkbox68">
                                    Irritability
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option69" type="checkbox" value="lethargy" id="checkbox69">
                                <label class="form-check-label" for="checkbox69">
                                    Lethargy
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option70" type="checkbox" value="weakness_in_limbs" id="checkbox70">
                                <label class="form-check-label" for="checkbox70">
                                    Weakness in limbs
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option71" type="checkbox" value="movement_stiffness" id="checkbox71">
                                <label class="form-check-label" for="checkbox71">
                                    Movement Stiffness
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option72" type="checkbox" value="coma" id="checkbox72">
                                <label class="form-check-label" for="checkbox72">
                                    Coma
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option73" type="checkbox" value="mood_swings" id="checkbox73">
                                <label class="form-check-label" for="checkbox73">
                                    Mood Swings
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option74" type="checkbox" value="loss_of_concentration" id="checkbox74">
                                <label class="form-check-label" for="checkbox74">
                                    Loss of Concentration
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option75" type="checkbox" value="anxiety" id="checkbox75">
                                <label class="form-check-label" for="checkbox75">
                                    Anxiety
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option76" type="checkbox" value="loss_of_balance" id="checkbox76">
                                <label class="form-check-label" for="checkbox76">
                                    Loss of balance
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option77" type="checkbox" value="altered_sensorium" id="checkbox77">
                                <label class="form-check-label" for="checkbox77">
                                    Altered Sensorium
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option78" type="checkbox" value="dizziness" id="checkbox78">
                                <label class="form-check-label" for="checkbox78">
                                    Dizziness
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option79" type="checkbox" value="depression" id="checkbox79">
                                <label class="form-check-label" for="checkbox79">
                                    Depression
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option80" type="checkbox" value="slurred_speech" id="checkbox80">
                                <label class="form-check-label" for="checkbox80">
                                    Slurred Speech
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option81" type="checkbox" value="fatigue" id="checkbox81">
                                <label class="form-check-label" for="checkbox81">
                                    Fatigue
                                </label>
                            </div>
                            <!-- Add more checkboxes as needed -->
                        </div>
                    </div>
                </div>
                </div>
                
                <!--Accordion 11 -->
                <div class="accordion" id="accordion11">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading11">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
                            Endocrine and Metabolic Related
                        </button>
                    </h2>
                    <div id="collapse11" class="accordion-collapse collapse show" aria-labelledby="heading11" data-bs-parent="#accordion11">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" name="option82" type="checkbox" value="enlarged_thyroid" id="checkbox82">
                                <label class="form-check-label" for="checkbox82">
                                    Enlarged Thyroid
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option83" type="checkbox" value="obesity" id="checkbox83">
                                <label class="form-check-label" for="checkbox83">
                                    Obesity
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option84" type="checkbox" value="weight_gain" id="checkbox84">
                                <label class="form-check-label" for="checkbox84">
                                    Weight Gain
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option85" type="checkbox" value="weight_loss" id="checkbox85">
                                <label class="form-check-label" for="checkbox85">
                                    Weight loss
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option86" type="checkbox" value="excessive_hunger" id="checkbox86">
                                <label class="form-check-label" for="checkbox86">
                                    Excessive Hunger
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option87" type="checkbox" value="irregular_sugar_level" id="checkbox87">
                                <label class="form-check-label" for="checkbox87">
                                    Irregular Sugar Level
                                </label>
                            </div>
                            <!-- Add more checkboxes as needed -->
                        </div>
                    </div>
                </div>
                </div>
                <!--Accordion 12 -->
                <div class="accordion" id="accordion12">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading12">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="true" aria-controls="collapse12">
                            Blood and Circulatory Related
                        </button>
                    </h2>
                    <div id="collapse12" class="accordion-collapse collapse show" aria-labelledby="heading12" data-bs-parent="#accordion12">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" name="option88" type="checkbox" value="toxic_look_typhos" id="checkbox88">
                                <label class="form-check-label" for="checkbox88">
                                    Toxic look (typhos)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option89" type="checkbox" value="nodal_skin_eruptions" id="checkbox89">
                                <label class="form-check-label" for="checkbox89">
                                    Nodal skin eruptions
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option90" type="checkbox" value="cramps" id="checkbox90">
                                <label class="form-check-label" for="checkbox90">
                                    Cramps
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option91" type="checkbox" value="weight_gain" id="checkbox91">
                                <label class="form-check-label" for="checkbox91">
                                    Weight gain
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option92" type="checkbox" value="blackheads" id="checkbox92">
                                <label class="form-check-label" for="checkbox92">
                                    Blackheads
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option93" type="checkbox" value="bruising" id="checkbox93">
                                <label class="form-check-label" for="checkbox93">
                                    Bruising
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option94" type="checkbox" value="malaise" id="checkbox94">
                                <label class="form-check-label" for="checkbox94">
                                    Malaise
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option95" type="checkbox" value="swelled_lymph_nodes" id="checkbox95">
                                <label class="form-check-label" for="checkbox95">
                                    Swelled lymph nodes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option96" type="checkbox" value="abnormal_menstruation" id="checkbox96">
                                <label class="form-check-label" for="checkbox96">
                                    Abnormal menstruation
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option97" type="checkbox" value="fatigue" id="checkbox97">
                                <label class="form-check-label" for="checkbox97">
                                    Fatigue
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option98" type="checkbox" value="irregular_sugar_level" id="checkbox98">
                                <label class="form-check-label" for="checkbox98">
                                    Irregular sugar level
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option99" type="checkbox" value="palpitations" id="checkbox99">
                                <label class="form-check-label" for="checkbox99">
                                    Palpitations
                                </label>
                            </div>
                            <!-- Add more checkboxes as needed -->
                        </div>
                    </div>
                </div>
                </div>
                
                <!--Accordion 13 -->
                <div class="accordion" id="accordion13">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading13">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="true" aria-controls="collapse13">
                            Gastro and Liver
                        </button>
                    </h2>
                    <div id="collapse13" class="accordion-collapse collapse show" aria-labelledby="heading13" data-bs-parent="#accordion13">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" name="option100" type="checkbox" value="vomiting" id="checkbox100">
                                <label class="form-check-label" for="checkbox100">
                                    Vomiting
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option101" type="checkbox" value="sweating" id="checkbox101">
                                <label class="form-check-label" for="checkbox101">
                                    Sweating
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option102" type="checkbox" value="restlessness" id="checkbox102">
                                <label class="form-check-label" for="checkbox102">
                                    Restlessness
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option103" type="checkbox" value="depression" id="checkbox103">
                                <label class="form-check-label" for="checkbox103">
                                    Depression
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option104" type="checkbox" value="receiving_unsterile_injections" id="checkbox104">
                                <label class="form-check-label" for="checkbox104">
                                    Receiving Unsterile Injections
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option105" type="checkbox" value="anxiety" id="checkbox105">
                                <label class="form-check-label" for="checkbox105">
                                    Anxiety
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option106" type="checkbox" value="loss_of_appetite" id="checkbox106">
                                <label class="form-check-label" for="checkbox106">
                                    Loss of Appetite
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option107" type="checkbox" value="slurred_speech" id="checkbox107">
                                <label class="form-check-label" for="checkbox107">
                                    Slurred Speech
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option108" type="checkbox" value="acute_liver_failure" id="checkbox108">
                                <label class="form-check-label" for="checkbox108">
                                    Acute Liver failure
                                </label>
                            </div>
                            <!-- Add more checkboxes as needed -->
                        </div>
                    </div>
                </div>
                </div>
                <!--Accordion 14 -->
                <div class="accordion" id="accordion14">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading14">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="true" aria-controls="collapse14">
                            Immune System Related
                        </button>
                    </h2>
                    <div id="collapse14" class="accordion-collapse collapse show" aria-labelledby="heading14" data-bs-parent="#accordion14">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" name="option109" type="checkbox" value="continuous_sneezing" id="checkbox109">
                                <label class="form-check-label" for="checkbox109">
                                    Continuous Sneezing
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option110" type="checkbox" value="runny_nose" id="checkbox110">
                                <label class="form-check-label" for="checkbox110">
                                    Runny Nose
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option111" type="checkbox" value="mucoid_sputum" id="checkbox111">
                                <label class="form-check-label" for="checkbox111">
                                    Mucoid Sputum
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option112" type="checkbox" value="cough" id="checkbox112">
                                <label class="form-check-label" for="checkbox112">
                                    Cough
                                </label>
                            </div>
                            <!-- Add more checkboxes as needed -->
                        </div>
                    </div>
                </div>
                </div>
                
                <!--Accordion 15 -->
                <div class="accordion" id="accordion15">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading15">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="true" aria-controls="collapse15">
                            General and Systemic
                        </button>
                    </h2>
                    <div id="collapse15" class="accordion-collapse collapse show" aria-labelledby="heading15" data-bs-parent="#accordion15">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" name="option113" type="checkbox" value="family_history" id="checkbox113">
                                <label class="form-check-label" for="checkbox113">
                                    Family history
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option114" type="checkbox" value="nausea" id="checkbox114">
                                <label class="form-check-label" for="checkbox114">
                                    Nausea
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option115" type="checkbox" value="continuous_feel_of_urine" id="checkbox115">
                                <label class="form-check-label" for="checkbox115">
                                    Continuous feel of urine
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option116" type="checkbox" value="irritation_in_anus" id="checkbox116">
                                <label class="form-check-label" for="checkbox116">
                                    Irritation in anus
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option117" type="checkbox" value="passage_of_gases" id="checkbox117">
                                <label class="form-check-label" for="checkbox117">
                                    Passage of gases
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option118" type="checkbox" value="loss_of_appetite" id="checkbox118">
                                <label class="form-check-label" for="checkbox118">
                                    Loss of appetite
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option119" type="checkbox" value="restlessness" id="checkbox119">
                                <label class="form-check-label" for="checkbox119">
                                    Restlessness
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option120" type="checkbox" value="depression" id="checkbox120">
                                <label class="form-check-label" for="checkbox120">
                                    Depression
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option121" type="checkbox" value="receiving_unsterile_injection" id="checkbox121">
                                <label class="form-check-label" for="checkbox121">
                                    Receiving unsterile injection
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option122" type="checkbox" value="loss_of_balance" id="checkbox122">
                                <label class="form-check-label" for="checkbox122">
                                    Loss of balance
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option123" type="checkbox" value="altered_sensorium" id="checkbox123">
                                <label class="form-check-label" for="checkbox123">
                                    Altered sensorium
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option124" type="checkbox" value="breathlessness" id="checkbox124">
                                <label class="form-check-label" for="checkbox124">
                                    Breathlessness
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option125" type="checkbox" value="excessive_hunger" id="checkbox125">
                                <label class="form-check-label" for="checkbox125">
                                    Excessive hunger
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option126" type="checkbox" value="chills" id="checkbox126">
                                <label class="form-check-label" for="checkbox126">
                                    Chills
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="option127" type="checkbox" value="fatigue" id="checkbox127">
                                <label class="form-check-label" for="checkbox127">
                                    Fatigue
                                </label>
                            </div>
                            <!-- Add more checkboxes as needed -->
                        </div>
                    </div>
                </div>
                </div>
                <!-- Add more accordions with checkboxes as needed -->
                
                <div class="form-group">
                  <!-- Other form fields can go here -->
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
  