<!-- Content for the left column -->

<div id="lhs">
      <img id="profile-imgg" src="/assets/img/profile-img.jpg" alt="Profile-pic">

    <div class="patient-name-id">
    
        <div class="patient-name">
            <h5>Ram Singh</h5>
        </div>
     
        <div class="patient-id">
            <h5>#1234</h5>
        </div>
    </div>
    <!-- Button to Log out-->
    <button class="btn btn-primary">Log Out</button>
</div>